/**********************************************     GENERAL STYLES      ********************************************/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  @font-face font-family:"Lobster1.4"src: url("../fonts/Lobster1.4.ttf") format("truetype") {}  @font-face font-family:"OpenSansRegular"src: url("../fonts/OpenSansRegular.ttf") format("truetype") {}  @font-face font-family:"OpenSansSemibold"src: url("../fonts/OpenSansSemibold.ttf") format("truetype") {}  @font-face font-family:"MyriadProRegular"src: url("../fonts/MyriadProRegular.ttf") format("truetype") {} }

.wrapper {
  background: #fff;
  min-height: 100vh;
  position: relative;
  min-width: 320px;
  overflow: hidden; }

.wrapper-inner:after {
  content: '';
  display: block;
  clear: both; }

button:focus {
  outline: none; }

a:focus {
  outline: none; }

li {
  list-style-type: none; }

/*****************************************************     HEADER      ***********************************************/
header[role='banner'] {
  padding: 0 133px 0 133px; }

header {
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 100;
  background-color: white; }

.logo {
  font-family: "Lobster 1.4";
  font-size: 20px;
  line-height: 2; }

.logo a {
  float: left;
  color: #44C0C2;
  text-decoration: none; }

.fa-bars {
  display: none; }

nav {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  float: right; }

nav ul li {
  display: inline-block;
  font-size: 15px; }

nav ul li a:hover {
  color: #49CBCD;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  background: #F8F9FB;
  text-decoration: none;
  border-bottom: 3px solid #49CBCD; }

nav ul li a {
  display: block;
  width: 85px;
  text-align: center;
  line-height: 97px;
  margin-right: 11.5px;
  color: #484C55;
  text-decoration: none;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  border-bottom: 3px solid transparent; }

/******************************************************* SLIDER  **********************************************************/
#block-for-slider {
  max-width: 100%;
  margin-top: 100px; }

#viewport {
  max-width: 100%;
  position: relative;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  text-align: center; }

#slidewrapper {
  position: relative;
  width: -webkit-calc(100% * 4);
  width: calc(100% * 4);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-transition-timing-function: cubic-bezier(0.67, 0.01, 0.23, 1);
  -o-transition-timing-function: cubic-bezier(0.67, 0.01, 0.23, 1);
  transition-timing-function: cubic-bezier(0.67, 0.01, 0.23, 1); }

.slide {
  width: -webkit-calc(100%/4);
  width: calc(100%/4);
  float: left; }

.slide img {
  max-width: 100%; }

#prev-btn, #next-btn {
  position: absolute;
  background: url(../img/sprite-slider.png);
  width: 50px;
  height: 50px;
  background-color: #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  top: -webkit-calc(50% - 25px);
  top: calc(50% - 25px); }

#prev-btn:hover, #next-btn:hover {
  cursor: pointer; }

#prev-btn {
  left: 5%; }

#next-btn {
  right: 5%;
  background-position: -50px 0; }

.slider-info {
  clear: both;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 130px;
  width: 1400px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  letter-spacing: 2px; }

.slider-info h2 {
  font-size: 45px;
  margin-bottom: 45px; }

.slider-info a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 500;
  border: 2px solid white;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  padding: 10px 25px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s; }

.slider-info a:hover {
  background-color: #A4D4C5; }

.slider-info p {
  margin-bottom: 60px; }

/**************************************************  TEAM  *********************************************************/
.team {
  font-family: 'Open Sans', sans-serif;
  color: #4E525D;
  margin-bottom: 110px; }

.team h3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 42px;
  margin-top: 100px;
  margin-bottom: 140px; }

.user ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 14px; }

.round {
  -webkit-border-radius: 100%;
          border-radius: 100%; }

.user ul li img {
  max-width: 100%;
  margin-bottom: 70px; }

.user ul li {
  margin-left: 50px; }

.user ul li:nth-child(1) {
  margin: 0; }

.user h4 {
  font-size: 22px;
  line-height: 0; }

.user p {
  margin-top: 35px;
  line-height: 2; }

.cross {
  position: absolute;
  margin-top: 80px;
  margin-left: -120px; }

.cross img {
  max-width: 100%; }

/**********************************************************    BUY    **********************************************************/
.buy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  background-color: #F1F1F1;
  color: #4E525D;
  clear: both;
  -webkit-border-radius: 1px;
          border-radius: 1px; }

.buy ul {
  margin-left: 30px;
  border: 1px solid #ECF0F1;
  margin-top: 120px;
  margin-bottom: 100px; }

.buy li {
  width: 365px;
  height: 45px;
  padding: 15px 0 15px 0;
  border-bottom: 1px solid #ECF0F1; }

.buy ul li:nth-child(1) {
  height: 75px;
  font-size: 26px; }

.buy ul li:nth-child(2) {
  height: 68px;
  font-size: 20px;
  background-color: #F8F9FB; }

.buy ul li:nth-child(3) {
  background-color: #FFFFFF; }

.buy ul li:nth-child(4) {
  background-color: #FFFFFF; }

.buy ul li:nth-child(5) {
  background-color: #FFFFFF; }

.buy ul li:nth-child(6) {
  background-color: #FFFFFF; }

.buy ul li:nth-child(7) {
  background-color: #FFFFFF; }

.buy ul li:nth-child(8) {
  background-color: #FFFFFF; }

.buy ul li:nth-child(9) {
  height: 98px;
  background-color: #F8F9FB; }

.buy button {
  font-size: 17px;
  font-family: 'OpenSansSemibold',sans-serif;
  border: none;
  padding: 15px 50px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s; }

.two {
  color: white;
  text-decoration: none;
  background-color: #788492; }

.basic:hover,
.two:hover {
  background-color: #EEEE00;
  color: #009DFF; }

.one {
  color: white;
  background-color: #49CBCD;
  text-decoration: none; }

.one:hover,
.pro:hover {
  background-color: #FF6347;
  color: black; }

.basic {
  background-color: #485460;
  color: white; }

.pro {
  background-color: #49CBCD;
  color: white; }

/*********************************************************** FOOTER  ***********************************************************/
footer {
  height: 685px;
  max-width: 100%;
  background-image: url(../img/footer.png);
  padding: 0 135px; }

footer h4 {
  text-align: center;
  color: white;
  font-size: 42px;
  font-family: 'Open Sans', sans-serif;
  padding-top: 103px;
  padding-bottom: 115px; }

.info {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 40px; }

.info li {
  color: white;
  font-size: 24px; }

.info p {
  color: #ADADAD;
  font-size: 14px; }

.post {
  color: #BFACE2;
  line-height: 1.5; }

.social {
  float: left; }

footer .fa {
  width: 40px;
  height: 40px;
  font-size: 16px;
  color: #fff;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  margin: 0 15px 20px 0; }

footer .fa-google-plus {
  background-color: #E44C41; }

footer .fa-twitter {
  background-color: #3EC2F3; }

footer .fa-facebook {
  background-color: #3B5997; }

footer .fa:hover {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  background: #D0FF00;
  color: #3262C9; }

footer .fa:not(:hover) {
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }

input,
label,
textarea {
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border: none; }

input[type="text"],
input[type="email"] {
  width: 270px;
  height: 43px;
  margin-bottom: 30px;
  font-size: 16px;
  padding-left: 20px; }

input[type="email"] {
  float: right; }

input[type="submit"] {
  width: 170px;
  height: 50px;
  font-size: 22px;
  padding: 4px 8px;
  background: #49CBCD;
  color: #fff;
  float: right;
  margin-top: 30px; }

form {
  max-width: 570px;
  height: 255px;
  float: right; }

textarea {
  width: 570px;
  height: 180px;
  font-size: 16px;
  padding: 20px 0 0 20px; }

.post {
  font-family: 'MyriadProRegular', sans-serif; }

/******************************************************************  @MEDIA QUERIES    **********************************************/
/********************************************************************  1270px *******************************************************/
@media (max-width: 1270px) {
  footer {
    padding: 0 50px; }
  form {
    max-width: 470px;
    height: 255px;
    margin-top: 5px; }
  input[type="text"],
  input[type="email"] {
    width: 235px;
    height: 43px;
    margin-bottom: 30px;
    font-size: 16px;
    padding-left: 20; }
  textarea {
    width: 470px; } }

/********************************************************************  1250px *******************************************************/
@media (max-width: 1250px) {
  .slider-info {
    max-width: 1250px; } }

/********************************************************************  1200px *******************************************************/
@media (max-width: 1200px) {
  .slider-info {
    max-width: 1200px; }
  .buy ul {
    margin-left: 10px; } }

/********************************************************************  1100px *******************************************************/
@media (max-width: 1100px) {
  .slider-info {
    max-width: 1200px; }
  .buy ul {
    margin-left: 2px; }
  .buy li {
    width: 300px;
    height: 40px;
    padding: 15px 0 15px 0;
    border-bottom: 1px solid #ECF0F1; } }

/********************************************************************  1000px *******************************************************/
@media (max-width: 1000px) {
  .slider-info {
    max-width: 1000px;
    top: 100px; }
  .slider-info h2 {
    margin-bottom: 10px;
    font-size: 35px; }
  .slider-info p {
    margin-bottom: 20px; }
  footer h4 {
    padding: 10px 0; }
  footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; } }

/********************************************************************  981px ******************************************************/
@media (max-width: 981px) {
  nav ul li a {
    width: 60px;
    line-height: 97px;
    margin-right: 11.5px; } }

/********************************************************************  880px  ****************************************************/
@media (max-width: 880px) {
  .user h4 {
    font-size: 19px; }
  .cross {
    margin-top: 70px;
    margin-left: -110px; }
  .buy {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .buy ul {
    margin-top: 10px;
    margin-bottom: 10px; }
  .buy li {
    width: 320px; } }

/********************************************************************  850px *******************************************************/
@media (max-width: 850px) {
  .cross {
    margin-top: 60px;
    margin-left: -100px; }
  .slider-info {
    max-width: 750px;
    top: 70px; }
  nav ul li a {
    width: 50px;
    line-height: 97px;
    margin-right: 11.5px; } }

/********************************************************************  771px *******************************************************/
@media (max-width: 771px) {
  .team h3 {
    margin: 20px 0; }
  .user ul li {
    margin-left: 0; }
  .user {
    text-align: center; }
  .user ul {
    display: inline-block; }
  .cross {
    margin-top: 80px;
    margin-left: -120px; }
  .logo {
    line-height: 1; }
  header {
    height: 50px; }
  #block-for-slider {
    margin-top: 50px; }
  .fa-bars {
    display: block;
    text-align: center;
    font-size: 32px;
    color: black;
    line-height: 1.5;
    margin-top: 6px; }
  nav {
    display: block;
    position: fixed;
    top: 150%;
    left: 0;
    width: 100%;
    height: -webkit-calc(100vh - 44px);
    height: calc(100vh - 44px);
    background: #EEEEF0;
    z-index: 500;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s; }
  nav.active {
    top: 44px; }
  nav ul li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    float: none; }
  nav ul li a {
    line-height: 3;
    width: 100%; } }

/********************************************************************  650px *******************************************************/
@media (max-width: 650px) {
  .slider-info {
    max-width: 600px;
    top: 30px; }
  .slider-info h2 {
    font-size: 25px; } }

/********************************************************************  550px *******************************************************/
@media (max-width: 550px) {
  .slider-info {
    max-width: 520px;
    top: 30px; }
  #prev-btn, #next-btn {
    width: 35px;
    height: 35px;
    top: -webkit-calc(50% - 25px);
    top: calc(50% - 25px); }
  #prev-btn {
    background-position: -10px; }
  #next-btn {
    background-position: -55px; } }

/********************************************************************  450px *******************************************************/
@media (max-width: 450px) {
  .slider-info {
    max-width: 400px;
    top: 0;
    letter-spacing: 0px; }
  .slider-info h2 {
    margin-bottom: 5px; }
  form {
    max-width: 320px;
    height: 255px; }
  input[type="text"],
  input[type="email"] {
    width: 150px;
    margin-bottom: 10px;
    font-size: 16px;
    padding-left: 10px;
    float: none; }
  input[type="submit"] {
    width: 170px;
    height: 50px;
    font-size: 22px;
    padding: 4px 8px;
    float: right;
    margin-top: 5px; }
  textarea {
    width: 320px;
    height: 150px; } }

/********************************************************************  410px *******************************************************/
@media (max-width: 410px) {
  header[role='banner'] {
    padding: 0 0 0 5px; } }

/********************************************************************  370px *******************************************************/
@media (max-width: 370px) {
  .slider-info {
    max-width: 350px; }
  .slider-info h2 {
    display: none; }
  .slider-info p {
    margin-bottom: 10%; }
  .slider-info a {
    padding: 5px;
    font-size: 18px;
    font-weight: 100; } }

/********************************************************************  330px *******************************************************/
@media (max-width: 330px) {
  .slider-info {
    max-width: 320px; } }
