/**********************************************     GENERAL STYLES      ********************************************/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  @font-face font-family:"Lobster1.4"src: url("../fonts/Lobster1.4.ttf") format("truetype") {}  @font-face font-family:"OpenSansRegular"src: url("../fonts/OpenSansRegular.ttf") format("truetype") {} }

.wrapper {
  background: #fff;
  min-height: 100vh;
  position: relative;
  min-width: 320px;
  overflow: hidden; }

.wrapper-inner {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto; }

.wrapper-inner:after {
  content: '';
  display: block;
  clear: both; }

button:focus {
  outline: none; }

a:focus {
  outline: none; }

li {
  list-style-type: none; }

/*****************************************************     HEADER      ***********************************************/
header[role='banner'] {
  padding: 30px 133px 0 133px; }

.logo {
  font-family: "Lobster 1.4";
  font-size: 20px; }

.logo a {
  float: left;
  color: #44C0C2;
  text-decoration: none; }

nav {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-style: normal;
  font-weight: normal;
  float: right; }

nav ul li {
  display: inline-block;
  vertical-align: middle;
  font-size: 15px; }

nav ul li a:hover {
  color: #49CBCD;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  background: #F8F9FB;
  text-decoration: none;
  border-bottom: 3px solid #49CBCD; }

nav ul li a {
  display: block;
  width: 85px;
  text-align: center;
  line-height: 65px;
  margin-right: 11.5px;
  color: #484C55;
  text-decoration: none;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  border-bottom: 3px solid transparent; }

/*********************************************** SLIDER  **********************************************************/
.slide img {
  max-width: 100%; }

.slide {
  display: block;
  position: relative;
  z-index: 1;
  text-align: center; }

.slide-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 70px;
  left: 25%;
  z-index: 100; }

.slide-info h3 {
  font-size: 38px;
  color: #fff;
  font-weight: 100;
  padding: 25px 0 25px 55px;
  line-height: 1; }

.slider-info p {
  color: #fff; }

.slide-info a {
  font-size: 19px;
  width: 150px;
  text-decoration: none;
  color: #fff;
  font-weight: 100;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  border: 3px solid white;
  padding: 10px 0;
  margin-top: 50px;
  -webkit-border-radius: 5px;
          border-radius: 5px; }
