/**********************************************     GENERAL STYLES      ********************************************/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0; }

.wrapper {
  background: #fff;
  min-height: 100vh;
  position: relative;
  min-width: 320px;
  overflow: hidden; }

.wrapper-inner {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto; }

header[role='banner'] {
  padding: 0 30px; }

.wrapper-inner:after {
  content: '';
  display: block;
  clear: both; }

button:focus {
  outline: none; }

a:focus {
  outline: none; }

/*****************************************************     HEADER      ***********************************************/
header[role='banner'] {
  padding: 30px 133px 0 133px; }

.logo a {
  float: left;
  color: #44C0C2;
  text-decoration: none; }

li {
  list-style-type: none; }

nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 600px;
  height: 100px;
  float: right; }

nav ul li {
  display: inline-block;
  vertical-align: middle;
  font-size: 15px; }

nav ul li a:hover {
  color: #49CBCD;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  background: #F8F9FB;
  text-decoration: none;
  border-bottom: 3px solid #49CBCD; }

nav ul li a {
  display: block;
  width: 85px;
  text-align: center;
  line-height: 45px;
  color: #484C55;
  text-decoration: none;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  border-bottom: 3px solid transparent; }
