
/**********************************************     GENERAL STYLES      ********************************************/
* 
	box-sizing: border-box
	padding: 0
	margin: 0

 @font-face font-family:"Lobster1.4"src: url("../fonts/Lobster1.4.ttf") format("truetype")
 @font-face font-family:"OpenSansRegular"src: url("../fonts/OpenSansRegular.ttf") format("truetype")


.wrapper 
	background: #fff
	min-height: 100vh
	position: relative
	min-width: 320px
	overflow: hidden

.wrapper-inner 
	width: 100%
	max-width: 1440px
	margin: 0 auto

.wrapper-inner:after 
	content: ''
	display: block
	clear: both

button:focus 
	outline: none

a:focus 
	outline: none

li 
	list-style-type: none

/*****************************************************     HEADER      ***********************************************/

header[role='banner'] 
	padding: 30px 133px 0 133px


.logo
    font-family: "Lobster 1.4"
    font-size: 20px

.logo a 
	float: left
	color: #44C0C2
	text-decoration: none
	
nav
	display: inline-flex
	font-family: 'Open Sans', sans-serif
	font-style: normal
	font-weight: normal
	float: right

nav ul li 
	display: inline-block
	vertical-align: middle
	font-size: 15px


nav ul li a:hover 
	color: #49CBCD
	transition: .5s
	background: #F8F9FB
	text-decoration: none
	border-bottom: 3px solid #49CBCD


nav ul li a 
	display: block
	width: 85px
	text-align: center
	line-height: 65px
	margin-right: 11.5px
	color: #484C55
	text-decoration: none
	transition: .4s
	border-bottom: 3px solid transparent

/*********************************************** SLIDER  **********************************************************/
    
#block-for-slider 
    max-width: 100%
    margin: 0 auto

#viewport 
    max-width: 100%
    position: relative
    overflow: hidden
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    -o-user-select: none
    user-select: none
    text-align: center

#slidewrapper 
    position: relative
    width: calc(100% * 4)
    -webkit-transition: 1s
    -o-transition: 1s
    transition: 1s
    -webkit-transition-timing-function: cubic-bezier(.67,.01,.23,1)
    -o-transition-timing-function: cubic-bezier(.67,.01,.23,1)
    transition-timing-function: cubic-bezier(.67,.01,.23,1)

#slidewrapper, #slidewrapper ul, #slidewrapper li 
    margin: 0
    padding: 0

.slide 
    width: calc(100%/4)
    list-style: none
    display: inline
    float: left

.slide-img 
    max-width: 100%

#prev-btn, #next-btn 
    position: absolute
    background: url(../img/sprite-slider.png)
    width: 50px
    height: 50px
    background-color: #fff
    border-radius: 50%
    top: calc(50% - 25px)

#prev-btn:hover, #next-btn:hover 
    cursor: pointer

#prev-btn 
    left: 20px

#next-btn 
    right: 20px
    background-position: -50px 0

#nav-btns 
    position: absolute
    width: 100%
    bottom: 20px
    padding: 0
    margin: 0
    text-align: center

.slide-nav-btn 
    position: relative
    display: inline-block
    list-style: none
    width: 20px
    height: 20px
    background-color: #fff
    border-radius: 50%
    margin: 3px

.slide-nav-btn:hover 
    cursor: pointer

